<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.samsung.dieat.point.query.dao.PointMapper">
    <resultMap id="pointQueryResultMap" type="com.samsung.dieat.point.query.dto.PointQueryDTO">
        <result property="pointCode" column="point_code"/>
        <result property="pointUserCode" column="point_user_code"/>
        <result property="pointRcvDt" column="point_rcv_dt"/>
        <result property="pointRcvType" column="point_rcv_type"/>
        <result property="pointAmt" column="point_amt"/>
    </resultMap>

    <!-- 특정 사용자(userCode)의 포인트 내역 조회 -->
    <select id="getTotalPoint" resultType="com.samsung.dieat.point.query.dto.PointQueryDTO">
        SELECT
            point_code AS pointCode,
            point_user_code AS pointUserCode,
            point_rcv_dt AS pointRcvDt,
            point_rcv_type AS pointRcvType,
            point_amt AS pointAmt
          FROM tbl_point
          WHERE point_user_code = #{userCode}
          ORDER BY point_rcv_dt DESC
    </select>

    <!-- 특정 포인트 코드(pointCode)로 조회 -->
    <select id="getPointByDate" resultType="com.samsung.dieat.point.query.dto.PointQueryDTO">
        SELECT
            point_code AS pointCode,
            point_user_code AS pointUserCode,
            point_rcv_dt AS pointRcvDt,
            point_rcv_type AS pointRcvType,
            point_amt AS pointAmt
          FROM tbl_point
          WHERE point_rcv_dt = #{pointRcvDt}
    </select>

</mapper>
