<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.samsung.dieat.notice_post.query.dao.NoticePostMapper">

    <resultMap id="NoticePostResultMap" type="com.samsung.dieat.notice_post.query.dto.NoticePostVO">
        <id property="notiCode" column="noti_code"/>
        <result property="notiTitle" column="noti_title"/>
        <result property="notiConts" column="noti_conts"/>
        <result property="notiCreatedDt" column="noti_created_dt"/>
        <result property="notiViewCnt" column="noti_view_cnt"/>
        <result property="notiUpdatedDt" column="noti_updated_dt"/>
    </resultMap>

    <select id="selectAllNotices" resultMap="NoticePostResultMap">
        SELECT
            noti_code,
            noti_title,
            noti_conts,
            noti_created_dt,
            noti_view_cnt,
            noti_updated_dt
        FROM tbl_notice_post
        ORDER BY noti_code DESC
    </select>

</mapper>
